.btn{
    display: inline-flex;
    box-sizing: border-box;
    padding: 16px 58px;
    justify-content: center;
    align-items: center;
    border: 1px solid @border-light;
    border-radius: 16px;
    background-color: transparent;
    outline: none;
    color: @text-secondary;
    text-decoration: none;
    font-family: @font1;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    overflow: hidden;
    cursor: pointer;
    
    &--accent{
        background-color: @bg-brand;
        border-color: @bg-brand;
        color: @text-invert;
        transition: background-color 0.3s;

        &:hover{
            @media(hover: hover){
                background-color: @bg-hover-primary;
            }
        }
    }

    &--disabled{
        background-color: @bg-secondary;
        border-color: @border-light;
        pointer-events: none;
        color: @text-secondary;
    }
}